* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffdeb;
  transition: background-color 0.5s;
  z-index: 1000;
  position: fixed;
}

.header.scrolled {
  background-color: #e7e4cb;
}

header nav ul {
  display: flex;
  gap: 35px;
}

header nav ul a {
  text-decoration: none;
  list-style: none;
  font-family: "Quicksand", sans-serif;
  padding: 8px 16px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  line-height: 1;
  border-radius: 100px;
  border: 2px solid transparent;
  transition: 0.3s all ease-in-out;
}

header nav ul a:hover {
  border-color: #1d6831;
  background-color: transparent;
}

#playButton{
  font-family: "Quicksand", sans-serif;
  padding: 8px 16px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  color: #00741d;
  cursor: pointer;
  animation: blink 1s infinite; /* Aplica a animação de piscar */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

/*---------------------------------------------------------------------------------------------------*/

.foto_principal {
  width: 100%;
  height: 100vh;
  background-color: #fcf9e3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.conteudo {
  width: 80%;
  display: flex;
  justify-content: center;
  position: relative;
}

.conteudo img {
  width: 1000px;
  height: auto;
  max-height: 100vh;
  object-fit: cover; /* Isso mantém a proporção da imagem */
}

.conteudo h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-family: "Hurricane", cursive !important;
  font-weight: 400;
  font-size: 7.3rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.conteudo h2 {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.conteudo span {
  position: absolute;
  top: 90.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

#floral {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translateX(-50%);
  width: 250px;
  height: auto;
}

/*---------------------------------------------------------------------------------------------------*/

.contagem {
  width: 100%;
  height: auto;
  background-color: #fffdeb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
}

.contagem h1 {
  padding: 40px 0 15px 0;
  font-family: "Hurricane", cursive !important;
  font-size: 4.5rem;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgb(224, 255, 182);
  color: #003302;
}

.dados {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 50px;
}

.dados div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 10px;
  color: #ffffff;
  width: 120px;
  height: 80px;
  padding: 5px;
}

.dados div div:first-child {
  font-size: 3.4em;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.dados div div:last-child {
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
}
/*---------------------------------------------------------------------------------------------------*/

.religioso {
  width: 100%;
  height: auto;
  background-color: #fcf9e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.religioso img,
#floral3,
#floral4,
#floral5,
#floral6,
#floral7 {
  width: 120px;
  margin: 60px 0;
  border: none;
}

.texto,
.historia {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}

.texto h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
}

.texto p,
.historia p {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: #000;
  text-align: justify;
}

/*---------------------------------------------------------------------------------------------------*/

.nos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fffdeb;
  padding-bottom: 40px;
}

.nos img {
  width: 120px;
  margin: 40px 0;
}

.titulo {
  font-family: "Hurricane", cursive !important;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  color: #749775;
}

.carrossel {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 400px;
  overflow: hidden;
}

.imagens {
  display: flex;
  transition: transform 1s ease;
  height: 120%;
}

.imagens img {
  height: auto;
  object-fit: contain;
  flex: 0 0 100%;
}

.historia p {
  color: #000;
  text-align: center;
}

#santo {
  font-weight: bold;
  font-size: 1.4rem;
  font-style: italic;
}

/*---------------------------------------------------------------------------------------------------*/

.cerimonia {
  width: 100%;
  height: auto;
  background-color: #fcf9e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteudo_cerimonia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo_cerimonia h1,
.conteudo_recepcao h1,
.conteudo_recepcao h2,
.conteudo_recepcao h3 {
  font-family: "Hurricane", cursive !important;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: #749775;
  margin-bottom: 20px;
}

.fotos_cerimonia {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.fotos_cerimonia img {
  width: 40%;
  height: auto;
  border: 4px solid #8a4f02;
  border-radius: 5px;
}

.conteudo_cerimonia p,
.conteudo_recepcao p {
  color: #000;
  margin: 35px 0;
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  width: 80%;
  text-align: center;
}

/*---------------------------------------------------------------------------------------------------*/

.recepcao {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fffdeb;
}

.conteudo_recepcao {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conteudo_recepcao img {
  width: 60%;
  height: auto;
  margin-top: 15px;
  border: 4px solid #8a4f02;
  border-radius: 5px;
}

#text_maps {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: #000;
  margin: 35px 0;
  font-size: 1.2rem;
}

.lista_presentes {
  background-color: #fcf9e3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista_presentes h1 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin: 40px 0 40px 0;
}

.lista_presentes p{
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 1rem;
  color: #000000;
  margin: 20px 0 40px 0;
  width: 60%;
}

#ponto_frio {
  width: 250px;
  margin-bottom: 40px;
  box-shadow: 9px 10px 75px 9px #749775;
}

.presenca {
  background-color: #fffdeb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presenca h1 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin: 60px 0 30px 0;
}

.presenca form {
  background-color: #749775;
  margin: 30px 0 60px 0;
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 3px solid #5eff00;
}

.presenca label {
  color: #73f778;
  font-size: 2rem;
  padding-top: 20px;
  font-weight: bold;
}

.presenca input {
  padding: 10px;
  width: 500px;
  border: 3px solid #5eff00;
  outline: none;
  text-align: center;
}

.presenca textarea {
  padding: 10px 5px;
  width: 500px !important;
  height: 140px;
  margin-top: 80px;
  margin-bottom: 30px;
  border: 3px solid #5eff00;
  resize: none;
  font-weight: bold;
}

.presenca button {
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 10px 25px;
  background-color: #00ff00;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #124b14;
  border-radius: 3px;
}

footer {
  background-color: #e7e4cb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
}

footer cite {
  font-weight: bold;
  font-size: 1.4rem;
}

footer a {
  text-decoration: none;
  margin-top: 10px;
  font-family: "Hurricane", cursive !important;
  font-size: 1.6rem;
  letter-spacing: 4px;
  color: #000;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(163, 250, 2);
}

.thanks {
  width: 100%;
  min-height: 100vh;
  background-color: #fcfbf5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.agradecimento {
  text-align: center;
  background-color: #e7e4cb;
  width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.agradecimento h1 {
  font-family: "Hurricane", cursive !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.4rem;
  text-shadow: 1px 1px 2px rgb(163, 250, 2);
  padding-top: 30px;
}

.agradecimento p {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.agradecimento span {
  font-size: 2.5rem;
  margin-top: 15px;
}

.agradecimento a {
  text-decoration: none;
  margin: 40px 0 40px 0;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
/*---------------------------------------------------------------------------------------------------*/
/* Responsividade */

/* Smartphones */
@media (min-width: 320px) and (max-width: 480px) {
  .header nav {
    width: 100%;
  }

  .header nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #f5f4c8b6;
    width: 100%;
    margin-top: 170px;
  }

  .hidden {
    display: none;
  }

  .foto_principal {
    width: 100%;
    height: 100vh;
    background-color: #fcf9e3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .conteudo {
    width: 100%; /* Ajusta para ocupar a maior parte da tela */
    display: flex;
    flex-direction: column; /* Garante que o conteúdo seja empilhado */
    align-items: center;
  }

  .conteudo img {
    width: 100%; /* Escala conforme o container */
    max-width: 1000px; /* Limite máximo para telas maiores */
    height: auto;
    max-height: 100vh;
    margin-top: 365px;
  }

  .conteudo h1 {
    position: absolute;
    top: 55%; /* Ajusta posição para telas menores */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-family: "Hurricane", cursive !important;
    font-weight: 400;
    font-size: 3.5rem; /* Reduz tamanho para telas menores */
    text-align: center;
  }

  .conteudo h2 {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem; /* Ajusta para responsividade */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    text-align: center;
  }

  .conteudo span {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem; /* Tamanho menor para telas pequenas */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
  }

  .contagem {
    width: 100%;
    height: auto;
    background-color: #fffdeb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px; /* Ajusta o padding para telas menores */
  }

  .contagem h1 {
    padding: 20px 0 10px 0; /* Reduz o espaçamento vertical */
    font-family: "Hurricane", cursive !important;
    font-size: 2.5rem; /* Ajusta para telas menores */
    font-weight: 400;
    text-shadow: 1px 1px 2px rgb(224, 255, 182);
    color: #003302;
    text-align: center;
  }

  .dados {
    display: flex;
    align-items: center;
    gap: 55px; /* Ajusta o espaçamento entre os quadrados */
    margin-top: 30px; /* Diminui a margem superior */
    flex-wrap: wrap; /* Permite que os itens quebrem para a linha seguinte */
    justify-content: center; /* Centraliza os itens */
  }

  .dados div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;

    color: #ffffff;
    width: 100px; /* Ajusta o tamanho para telas menores */
    height: 70px; /* Ajusta a altura */
    padding: 5px;
  }

  .dados div div:first-child {
    font-size: 2.5em; /* Ajusta o tamanho da fonte */
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
  }

  .dados div div:last-child {
    font-size: 1rem; /* Ajusta o tamanho da fonte */
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    margin-bottom: 20px; /* Ajusta a margem inferior */
  }

  .recepcao iframe {
    min-width: 95%;
    height: 40%;
  }

  .presenca form {
    width: 95%;
  }

  .presenca input {
    width: 95%;
  }

  #recado {
    width: 95% !important;
  }

  .agradecimento {
    text-align: center;
    background-color: #e7e4cb;
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
  }

  .agradecimento h1 {
    font-family: "Hurricane", cursive !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    text-shadow: 1px 1px 2px rgb(163, 250, 2);
    padding-top: 30px;
    margin-bottom: 20px;
  }

  .agradecimento p {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .agradecimento span {
    font-size: 2.5rem;
    margin-top: 15px;
  }

  .agradecimento a {
    text-decoration: none;
    margin: 40px 0 40px 0;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .header nav {
    width: 100%;
  }

  .header nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #f5f4c8b6;
    width: 100%;
    margin-top: 170px;
  }

  .hidden {
    display: none;
  }

  .foto_principal {
    width: 100%;
    height: 100vh;
    background-color: #fcf9e3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .conteudo {
    width: 100%; /* Ajusta para ocupar a maior parte da tela */
    display: flex;
    flex-direction: column; /* Garante que o conteúdo seja empilhado */
    align-items: center;
  }

  .conteudo img {
    width: 100%; /* Escala conforme o container */
    max-width: 1000px; /* Limite máximo para telas maiores */
    height: auto;
    max-height: 100vh;
    margin-top: 495px;
  }

  .conteudo h1 {
    position: absolute;
    top: 55%; /* Ajusta posição para telas menores */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-family: "Hurricane", cursive !important;
    font-weight: 400;
    font-size: 3.5rem; /* Reduz tamanho para telas menores */
    text-align: center;
  }

  .conteudo h2 {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem; /* Ajusta para responsividade */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    text-align: center;
  }

  .conteudo span {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem; /* Tamanho menor para telas pequenas */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
  }

  .contagem {
    width: 100%;
    height: auto;
    background-color: #fffdeb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px; /* Ajusta o padding para telas menores */
  }

  .contagem h1 {
    padding: 20px 0 10px 0; /* Reduz o espaçamento vertical */
    font-family: "Hurricane", cursive !important;
    font-size: 2.5rem; /* Ajusta para telas menores */
    font-weight: 400;
    text-shadow: 1px 1px 2px rgb(224, 255, 182);
    color: #003302;
    text-align: center;
  }

  .dados {
    display: flex;
    align-items: center;
    gap: 55px; /* Ajusta o espaçamento entre os quadrados */
    margin-top: 30px; /* Diminui a margem superior */
    flex-wrap: wrap; /* Permite que os itens quebrem para a linha seguinte */
    justify-content: center; /* Centraliza os itens */
  }

  .dados div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;

    color: #ffffff;
    width: 100px; /* Ajusta o tamanho para telas menores */
    height: 70px; /* Ajusta a altura */
    padding: 5px;
  }

  .dados div div:first-child {
    font-size: 2.5em; /* Ajusta o tamanho da fonte */
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
  }

  .dados div div:last-child {
    font-size: 1rem; /* Ajusta o tamanho da fonte */
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    margin-bottom: 20px; /* Ajusta a margem inferior */
  }

  .recepcao iframe {
    min-width: 95%;
    height: 40%;
  }

  .presenca form {
    width: 95%;
  }

  .presenca input {
    width: 95%;
  }

  #recado {
    width: 95% !important;
  }

  .agradecimento {
    text-align: center;
    background-color: #e7e4cb;
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
  }

  .agradecimento h1 {
    font-family: "Hurricane", cursive !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    text-shadow: 1px 1px 2px rgb(163, 250, 2);
    padding-top: 30px;
    margin-bottom: 20px;
  }

  .agradecimento p {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .agradecimento span {
    font-size: 2.5rem;
    margin-top: 15px;
  }

  .agradecimento a {
    text-decoration: none;
    margin: 40px 0 40px 0;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
  }
}
